<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Siisu</title>
	<link href="http://fonts.googleapis.com/css?family=Lora:700|Ubuntu:400,500|Source+Code+Pro:500" rel="stylesheet" type="text/css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="http://kizu.ecko.me/assets/css/normalize.css?v=bdff0d53b0">
	<link rel="stylesheet" href="./assets/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/assets/moment.js"></script>
	<script>
	time = moment(new Date(then.attr('date-date'))),
		$(document).ready(function(){
		    time = $('#datetime')
		});
	</script>
</head>
<body>
		<header>
			<div class="wrapper">
				<h1>
					<a href="http://www.siisu.com">Siisu</a>	
				</h1>
				<div class="bannernav">
	                <i class="icon-reorder"></i>
	                <ul>
	                    <li><a href="/articles">Archive</a></li>
	                    <li><a href="/about">About</a></li>
	                    <li><a href="/about">Contact</a></li>
	                </ul>
           		</div>
			</div>
		</header>
		<div class="posthead post">
    		<div class="wrapper">

		        <div class="author">BY <a href="#author">Phea Duch</a></div>
		        <div class="info"><time datetime="{{.Date}}"><span id="then" data-date="{{.Date}}"></span></time></div>
		        <h1><a href="#">{{.Title}}</a></h1>
    		</div>
    		<div id="postimage"></div>
		</div>
		<div class="postbody">
    		<div class="wrapper">
    			<div class="postmargin"></div>
				{{.Body}}
			</div>
		</div>

	    <script>
	      $(document).ready(function(){
	        var then = $('#then'),
	            date = moment(new Date(then.attr('data-date'))),
	            update = function(){
	                       then.html(date.fromNow());
	                     };
	        
	        update();
	        setInterval(update, 60000);
	      });
	    </script>

</body>
</html>